/* Définir les variables globales */
:root {
    --primary-color: #ff0000; /* Rouge comme couleur primaire */
    --primary-hover-color: #cc0000; /* Rouge foncé pour le survol */
}

/* Style pour centrer le contenu verticalement et horizontalement */
.full-height {
    min-height: 100vh;
}

/* Mode Night */
body {
    background-color: #121212; /* Fond sombre */
    color: white; /* Texte clair */
    padding-top: 56px; /* Pour éviter que le contenu soit masqué par le header */
}

/* Mode Light */
body.light-mode {
    background-color: white; /* Fond clair */
    color: black; /* Texte sombre */
}

body.light-mode .navbar {
    background-color: #f8f9fa; /* Fond clair pour le header */
}

body.light-mode .bg-dark {
    background-color: #f8f9fa !important; /* Remplace les fonds sombres */
    color: black !important; /* Texte sombre */
}

body.light-mode .bg-secondary {
    background-color: #e9ecef !important; /* Fond gris clair */
    color: black !important; /* Texte sombre */
}

/* Liens du header et du footer en mode Light */
body.light-mode .navbar .nav-link,
body.light-mode footer a {
    color: black !important; /* Noir par défaut */
    text-decoration: none; /* Pas de soulignement */
}

body.light-mode .navbar .nav-link:hover,
body.light-mode footer a:hover {
    color: var(--primary-color) !important; /* Couleur primaire au survol */
    text-decoration: underline; /* Souligner au survol */
}

body.light-mode .navbar .nav-link.active,
body.light-mode footer a.active {
    color: black !important; /* Noir lorsque actif */
    font-weight: bold; /* Gras lorsque actif */
    text-decoration: none; /* Pas de soulignement */
}

/* Styles communs pour les liens */
a {
    color: var(--primary-color) !important; /* Couleur primaire */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}

a:hover {
    color: var(--primary-hover-color) !important; /* Couleur primaire foncée au survol */
    text-decoration: underline; /* Souligner au survol */
}

/* Icônes LinkedIn */
body.light-mode .bi-linkedin {
    color: #0077b5; /* Bleu LinkedIn */
}

body:not(.light-mode) .bi-linkedin {
    color: white; /* Blanc */
}

/* Footer */
footer {
    padding: 1rem; /* Ajout d'un padding commun */
}

body.light-mode footer {
    background-color: #f8f9fa !important; /* Fond clair */
    color: black !important; /* Texte noir */
}

body:not(.light-mode) footer {
    background-color: #1f1f1f !important; /* Fond sombre */
    color: white !important; /* Texte blanc */
}

/* Navbar */
.navbar {
    background-color: #1f1f1f; /* Fond sombre pour le header */
}

.navbar-brand, .nav-link {
    color: var(--muted-color) !important; /* Couleur blanche pour les liens */
}

.navbar-brand {
    font-size: 1.25rem; /* Augmente légèrement la taille du texte */
    font-weight: bold; /* Texte en gras */
}

/* Lien non actif au survol */
.nav-link:hover {
    color: var(--primary-color) !important; /* Couleur d'accentuation au survol */
}

/* Lien actif dans le menu */
.nav-link.active {
    font-weight: bold; /* Mettre en gras */
    text-decoration: none; /* Pas de soulignement */
}

h1 {
    color: var(--primary-color); /* Couleur d'accentuation pour le titre principal */
}

/* Titre des sections avec un fond clair */
.bg-light h2 {
    color: black; /* Noir */
}

/* Supprimer la contrainte de hauteur minimale pour les sections */
section {
    display: flex; /* Utiliser flexbox pour centrer le contenu si nécessaire */
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: center; /* Centrer horizontalement */
    padding: 2rem 1rem; /* Ajouter un padding pour éviter que le contenu touche les bords */
}

/* Ajustement spécifique pour les sections avec beaucoup de contenu */
section .container {
    padding-bottom: 2rem; /* Ajouter un espace en bas pour éviter que le contenu touche les bords */
}

/* Gérer les cartes dans les sections avec des colonnes */
.card {
    margin-bottom: 1rem; /* Ajouter un espacement entre les cartes */
    border-radius: 15px; /* Ajustez la valeur pour un arrondi plus ou moins prononcé */
}

/* Centrer les h5 dans les cartes */
.card-body h5 {
    text-align: center;
}

/* Gérer les sections en vue mobile */
@media (max-width: 768px) {
    .row {
        flex-wrap: wrap; /* Permettre aux colonnes de s'empiler en vue mobile */
    }

    .col-md-3 {
        flex: 0 0 100%; /* Faire en sorte que chaque colonne occupe 100% de la largeur */
        max-width: 100%;
    }
}

/* Logo dans le header */
.navbar-brand img {
    height: 40px;
}

/* Icône soleil */
.bi-sun {
    font-size: 1.5rem;
    cursor: pointer;
}

/* Logo dans le footer */
footer .navbar-brand img {
    height: 30px;
    margin-right: 0.5rem; /* Espacement entre le logo et le texte */
}

/* Photo des founders */
.img-founders {
    border-radius: 15px; /* Arrondir les bords */
    overflow: hidden; /* Assurer que le contenu reste à l'intérieur des bords arrondis */
    height: 200px;
}

/* Alignement des listes à gauche */
ul {
    padding-left: 0rem; /* Ajuste l'indentation des listes */
    list-style-position: inside; /* Place les points à l'intérieur de la boîte */
}